<div class="big" *ngIf="big">
  <input type="file" name="file" [id]="inputId" class="inputfile" multiple (change)="fileChanged($event)" />
  <label [for]="inputId">Dateien wählen</label>

  <div class="file-list" *ngIf="storedFiles.length > 0">
    <div class="file-item" *ngFor="let file of storedFiles">
      <span class="file-name" [title]="file.fileName">{{ file.fileName }}</span>
      <button class="file-remove-btn" (click)="removeFile(file.fileName)" title="Datei entfernen" aria-label="Datei entfernen">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <button class="clear-files-btn" (click)="clearFiles()" title="Alle Dateien löschen">
      <i class="fa-solid fa-trash"></i> Alle löschen
    </button>
  </div>
</div>
<div class="small d-inline" *ngIf="!big">
  <input type="file" name="file" [id]="inputId" class="inputfile" multiple (change)="fileChanged($event)" />
  <label [for]="inputId" class="btn btn-light btn-sm d-inline-flex align-items-center gap-2" title="CSV-Dateien laden">
    <i class="fa-solid fa-upload"></i>
    <span class="d-none d-md-inline">Dateien</span>
  </label>

  <div class="small-file-actions d-inline-flex gap-2" *ngIf="storedFiles.length > 0">
    <button class="btn btn-light btn-sm d-inline-flex align-items-center gap-2" (click)="clearFiles()" title="Alle Dateien löschen">
      <i class="fa-solid fa-trash"></i>
      <span class="d-none d-md-inline">Alle löschen</span>
    </button>
  </div>

  <div class="small-file-list" *ngIf="storedFiles.length > 0">
    <div class="small-file-item" *ngFor="let file of storedFiles">
      <span class="small-file-name" [title]="file.fileName">{{ file.fileName }}</span>
      <button class="small-file-remove" (click)="removeFile(file.fileName)" title="Datei entfernen" aria-label="Datei entfernen">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</div>