<div class="big" *ngIf="big">
  <input type="file" name="file" [id]="inputId" class="inputfile" accept=".csv,.txt,.xls,.xlsx" multiple (change)="fileChanged($event)" />
  <label [for]="inputId">Dateien wählen</label>

  <div class="file-list" *ngIf="storedFiles.length > 0">
    <div class="file-item" *ngFor="let file of storedFiles">
      <span class="file-name" [title]="file.fileName">{{ file.fileName }}</span>
      <button type="button" class="file-remove-btn" (click)="removeFile(file.fileName)" title="Datei entfernen" [attr.aria-label]="file.fileName + ' entfernen'">
        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
      </button>
    </div>

    <button type="button" class="clear-files-btn" (click)="clearFiles()" title="Alle Dateien löschen">
      <i class="fa-solid fa-trash" aria-hidden="true"></i> Alle löschen
    </button>
  </div>
</div>
<div class="small d-inline" *ngIf="!big" ngbDropdown placement="bottom-end" autoClose="outside" container="body">
  <button type="button" class="top-nav-btn" ngbDropdownToggle title="Dateien verwalten"
    [attr.aria-label]="'Dateien verwalten' + (storedFiles.length ? ', ' + storedFiles.length + ' geladen' : '')">
    <i class="fa-solid fa-folder-open" aria-hidden="true"></i>
    <span>Dateien</span>
    <span class="file-counter" aria-hidden="true" *ngIf="storedFiles.length > 0">{{ storedFiles.length }}</span>
  </button>

  <div ngbDropdownMenu class="file-popover-menu">
    <div class="file-popover-actions">
      <input type="file" name="file" [id]="inputId" class="inputfile" multiple (change)="fileChanged($event)" />
      <label [for]="inputId" class="file-popover-btn" title="CSV-Dateien laden">
        <i class="fa-solid fa-upload" aria-hidden="true"></i>
        <span>Datei hinzufügen</span>
      </label>

      <button type="button" class="file-popover-btn danger" (click)="clearFiles()" [disabled]="storedFiles.length === 0" title="Alle Dateien löschen">
        <i class="fa-solid fa-trash" aria-hidden="true"></i>
        <span>Alle löschen</span>
      </button>
    </div>

    <div class="file-popover-list" *ngIf="storedFiles.length > 0; else noFilesTemplate">
      <div class="file-popover-item" *ngFor="let file of sortedStoredFilesForPopup">
        <div class="file-popover-main">
          <div class="file-popover-head">
            <span class="file-popover-name" [title]="file.fileName">{{ truncateFileName(file.fileName) }}</span>
            <button type="button" class="file-popover-remove" (click)="removeFile(file.fileName)" title="Datei entfernen" [attr.aria-label]="file.fileName + ' entfernen'">
              <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
          </div>

          <div class="file-range" *ngIf="getFileTimeline(file.fileName) as timeline">
            <div class="file-range-track" *ngIf="timeline.hasRange; else noDateRange">
              <span class="file-range-line" [style.left.%]="timeline.leftPct" [style.width.%]="timeline.widthPct"></span>
            </div>
            <ng-template #noDateRange>
              <div class="file-range-track empty"></div>
            </ng-template>
            <div class="file-range-labels">
              <span>{{ timeline.startLabel }}</span>
              <span>{{ timeline.endLabel }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noFilesTemplate>
      <div class="file-popover-empty">Keine Dateien geladen</div>
    </ng-template>
  </div>
</div>