<div class="border-bottom py-2" title="{{transaction.raw}}">
    <div class="row">
        <div class="col-md-3">
            <span class="fw-bold">{{transaction.payerReceiver}}<br/></span>
            {{transaction.bookingDate | date}}
        </div>
        <div class="col-md-6">
            {{transaction.purpose}}
            <span *ngIf="dupllicates.length > 0" class="opacity-50" style="font-weight: 0.6rem;">
                <br/>Auch verbucht am
                <span *ngFor="let duplicate of dupllicates; let last = last">
                    {{duplicate.bookingDate | date: 'MMMM'}}<span *ngIf="!last">, </span>
                </span> 
            </span>
            
        </div>
        <div class="col-md-3 text-end">
            <div class="text-end fw-bold" [ngClass]="{'text-warning': transaction.category?.name === 'Sonstiges'}">{{transaction.category?.name}}</div>
            <div><span class="badge" [ngClass]="{'text-bg-success': transaction.amount > 0, 'text-bg-warning': transaction.amount < 0}">{{transaction.amount | currency:'EUR'}}</span></div>
        </div>
    </div>
</div>
