<div class="row border-bottom">
    <div class="col">{{transaction.payerReceiver}}</div>
    <div class="col" (click)="expand = !expand">{{transaction.purpose}}</div>
    <div class="col">{{transaction.bookingDate | date}}</div>
    <div class="col" [ngClass]="{'text-warning': transaction.category?.category === 'Sonstiges'}">{{transaction.category?.category}}</div>
    <div class="col text-end">
        <span class="badge" [ngClass]="{'text-bg-success': transaction.amount > 0, 'text-bg-warning': transaction.amount < 0}">{{transaction.amount | currency:'EUR'}}</span>
    </div>
</div>
<div class="row border-bottom opacity-50" *ngIf="expand">
    {{transaction.raw}}
</div>