<div class="border-bottom mb-3 text-center">
    <div>
        <button class="btn btn-sm me-2 mb-1" [ngClass]="{'btn-outline-primary': !isNothingSelected(), 'btn-primary': isNothingSelected()}"
            (click)="dataState.resetCategory()">
            Alle
        </button>
        <button class="btn btn-sm me-2 mb-1" [ngClass]="{'btn-outline-primary': !isSelectedCategory(category), 'btn-primary': isSelectedCategory(category)}"
            (click)="dataState.filterByCategory(category)" *ngFor="let category of categoriesCleaned">
            {{category.name}}
        </button>
    </div>
    <div>
        <button class="btn btn-sm me-2 mb-1" [ngClass]="{'btn-link': !isSelectedCategory(category), 'btn-primary': isSelectedCategory(category)}"
            (click)="dataState.filterByCategory(category)" *ngFor="let category of selectedSubCategoriesCleaned">
            {{category.name}}
        </button>
    </div>
</div>