<div class="row">
    <div class="col">
        <button class="btn btn-link p-0" (click)="showDuplicates()">Monatlich wiederkehrend</button>
        <div *ngIf="expanded.reoccurent">
            <app-transaction-component *ngFor="let transaction of duplicateTransactions | orderBy: 'amount'" [transaction]="transaction">
            </app-transaction-component>
        </div>
    </div>
</div> 


<div class="row">
    <div class="col">
        <button class="btn btn-link p-0" (click)="expanded.all = !expanded.all">All Transactions</button>
        <div *ngIf="expanded.all">
            <app-transaction-component *ngFor="let transaction of dataState.selectedTransactions | orderBy: 'amount'" [transaction]="transaction">
            </app-transaction-component>
        </div>
    </div>
</div>
