<div *ngIf="calculatedTotal != 0" class="m-2 p-2 bg-light rounded">
    <div class="row fs-4" (click)="collapsed = !collapsed" role="button">
        <div class="col">
            <a class="text-dark p-0 fs-4 text-decoration-none">
                <span class="me-2" style="min-width:50px" *ngIf="categorySummary?.icon"><i [class]="categorySummary.icon"></i></span>
                <span class="">{{categorySummary.name}}</span>
            </a>
        </div>

        <div class="col text-end">            
            <span ngbTooltip="Durchschnittliche Kosten für {{amountMonths}} Monate" class="opacity-25 fs-5 me-2" *ngIf="amountMonths > 1">⌀ {{(calculatedTotal / amountMonths) | currency:'EUR'}}</span>
            <span class="badge" [ngClass]="{'text-bg-success': calculatedTotal > 0, 'text-bg-warning': calculatedTotal < 0}">{{calculatedTotal |
                currency:'EUR'}}</span>
            <i class="fa-solid fa-chevron-right ms-3"></i>
        </div>
    </div>

    <div *ngIf="categorySummary.subCategories?.length" class="ms-3" #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <div *ngFor="let subCategory of categorySummary.subCategories | orderBy: 'total';">
            <app-category-component [categorySummary]="subCategory" [amountMonths]="amountMonths" *ngIf="subCategory.total != 0"></app-category-component>
        </div>
    </div>

    <div *ngIf="!categorySummary.subCategories?.length" class="ms-4 ps-4" #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
        <ng-container *ngFor="let transaction of activeTransactions | orderBy: 'amount'">
            <app-transaction-component [transaction]="transaction"></app-transaction-component>
        </ng-container>
    </div>
</div>