<div>
    <div class="row">
        <div class="col">
            <a class="btn btn-link" (click)="expanded = !expanded">
                {{categorySummary.category}}
            </a>

        </div>
        <div class="col text-end">
            {{categorySummary.value | currency:'EUR'}}
        </div>
        
    </div>
    <div *ngIf="expanded">
        <app-transaction-component *ngFor="let transaction of categorySummary.transactions" [transaction]="transaction"></app-transaction-component>
    </div>
</div>