@if (isOpen) {
  <div class="popup-backdrop" (click)="onBackdropClick($event)" (keydown)="onKeydown($event)" tabindex="0">
    <div class="popup-container" [style.width]="width" [style.height]="height">
      <div class="popup-header">
        <h4 class="popup-title">{{ title }}</h4>
        <button type="button" class="btn-close" aria-label="Schließen" (click)="close()"></button>
      </div>
      <div class="popup-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
