<div class="border-bottom mb-3 text-center" *ngIf="!dataState.hasLoadedData">

  <div class="card m-auto my-4 w-100" style="max-width: 400px;">
    <div class="card-body">
      <h5 class="card-title">Finanz Uhu</h5>
      <p class="card-text">Das datenschutzfreundliche Tool um deine Finanzdateien auf deinem Computer zu analysieren</p>
 
      <hr class="my-4">

      <h5>Funktionen</h5>
      <ul class="list-group">
        <li class="list-group-item">Kategorisiert deine Ein- und Ausgaben</li>
        <li class="list-group-item">Analysiere deine  Kategorien mithilfe der Filter</li>
        <li class="list-group-item">Einblick in wiederkehrende Ausgaben, wie Versicherungen oder Bankgebühren</li>
        <li class="list-group-item">Monatliche Bilanzen</li>
      </ul>

      <h5 class="mt-4">Umsetzung</h5>
      <ul class="list-group">
        <li class="list-group-item">Alle Daten werden auf deinem Computer verarbeitet</li>
        <li class="list-group-item">Open Source</li>
        <li class="list-group-item">Unterstützt ING und Sparkassen Dateien</li>
      </ul>
    </div>
  </div>

  <h2>Wähle eine Datei</h2>
  <app-file-selector [big]="true"></app-file-selector>  
  <div class="text-center">
    <caption class="m-auto d-inline-block">Wähle eine <i>.csv</i> Datei von der Sparkasse oder ING aus.</caption>
  </div>
</div>

<div *ngIf="dataState.hasLoadedData">

  <div class="mb-3 text-center">
    <app-date-range-picker [from]="dataState.currentFilter.from" [to]="dataState.currentFilter.to"></app-date-range-picker>

    <div ngbDropdown class="d-inline-block ms-3">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <span>Ein- / Ausgaben</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="dataState.filterByType('all')"> Alle </button>
        <button ngbDropdownItem (click)="dataState.filterByType('income')"> Einnahmen </button>
        <button ngbDropdownItem (click)="dataState.filterByType('expense')"> Ausgaben </button>
      </div>
    </div>
  </div>

  <app-category-select></app-category-select>

  <div class="row">
    <div class="col-md-8">
      <app-history-chart [dates]="dataState.monthStarts" [transactions]="dataState.selectedTransactions" (triggerRefresh)="refreshPage()"></app-history-chart>
    </div>
    <div class="col-md-4">
      <app-category-chart [data]="dataState.categories" (triggerRefresh)="refreshPage()"></app-category-chart>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" [ngClass]="{'active': tab == activeTab}" aria-current="page" href="#" (click)="activeTab = tab">{{tab}}</a>
    </li>

  </ul>
  <div class="border-start border-bottom border-end bg-white py-3 px-4">
    <div *ngIf="activeTab == 'Kategorien'">
      <h2>Kategorien</h2>
      <app-category-overview-component *ngIf="!dataState.currentFilter.category" [amountMonths]="dataState.selectedMonthAmountInDataRangeFilter"
        [categorySummaries]="dataState.categories"></app-category-overview-component>
      <app-category-component *ngIf="dataState.currentFilter.category" [amountMonths]="dataState.selectedMonthAmountInDataRangeFilter"
        [categorySummary]="dataState.currentFilter.category" [collapsed]="false"></app-category-component>
    </div>

    <div *ngIf="activeTab == 'Alle Buchungen'">
      <h2>Alle Buchungen ({{dataState.selectedTransactions.length}})</h2>
      <div class="row">
        <div class="col">
          <app-transaction-component *ngFor="let transaction of dataState.selectedTransactions | orderBy: 'amount'" [transaction]="transaction"></app-transaction-component>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab == 'Wiederkehrende Buchungen'">
      <h2>Wiederkehrende Buchungen ({{dataState.duplicates.length}})</h2>
      <div class="row">
        <div class="col">

          <app-transaction-component *ngFor="let transaction of dataState.duplicates | orderBy: 'amount'" [transaction]="transaction">
          </app-transaction-component>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab == 'Ausgeglichene Buchungen'">
      <h2>Ausgeglichene Buchungen ({{balancedTransactions.length}})</h2>
      <div class="row">
        <div class="col">
          <app-transaction-component *ngFor="let transaction of balancedTransactions | orderBy: 'amount'" [transaction]="transaction">
          </app-transaction-component>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab == 'Monatliche Bilanz'">
      <h2>Monatliche Bilanz</h2>
      <app-monthy-billance [dates]="dataState.monthStarts" [transactions]="dataState.selectedTransactions"></app-monthy-billance>
    </div>
  </div>
</div>