<div class="alert alert-success">
    Du hast <b>{{monthsWithPositiveBillance}} Monate</b> mit einer positiven Bilanz.
</div>

<button class="btn btn-primary" (click)="toggleSavings()">
    <span *ngIf="!includeSavings">Sparen nicht berücksichtigen</span>
    <span *ngIf="includeSavings">Sparen berücksichtigen</span>
</button>

<table class="table table-striped border">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Einnahmen</th>
            <th scope="col">Ausgaben</th>
            <th scope="col text-end">Differenz</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of monthlyData">
            <td>
                <i class="fa-regular fa-circle-xmark text-danger" *ngIf="x.income - x.expenses <= 0"></i>
                <i class="fa-regular fa-circle-check text-success" *ngIf="x.income - x.expenses > 0"></i>
                {{x.name}}</td>
            <td>{{x.income}}</td>
            <td>{{x.expenses}}</td>
            <td [ngClass]="{'text-success fw-bold': x.income - x.expenses > 0, 'text-danger': x.income - x.expenses <= 0}">{{x.income - x.expenses | number}}€</td>
        </tr>
    </tbody>
</table>